
body {
        background-color: rgb(204, 205, 212);
        }

 p {
            color: rgb(177, 3, 58);
            }

 h1 {
    font-size: 100px;
    color: rgb(180, 21, 47);
 }

 h2 {
    color: rgb(197, 10, 41);
 }
